*{
box-sizing: border-box;
}


header {
    background-color: #CE0505;
    height: 80px;
    position: relative;

}

.logo-span {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 102px;
    
    text-align: center;
}

.logo-text {
    color: #CE0505;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

span {
    top: 30px;
    position: absolute;
}

.login-signup {
    right: 200px;
    word-spacing: 20px;

}


.signup {
    border: 1px solid white;
    padding: 8px;
    word-spacing: 0;
    color: white;
    text-decoration: none;
}

.login-text {
    color: white;
    text-decoration: none;

}

section {
    position: relative;
}

article {
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.filter-text {
    left: 113px;
    position: absolute;
    top: 4px;
    color: #192F60
}

.filter-article {
    top: 100px;
    left: 113px;
    width: 260px;
    padding: 10px;
    line-height: 25px;
}


.resultcard1-article {
    top: 100px;
    left: 418px;
    width: 794px;
    height: 291px;
    padding: 10px;

}

.resultcard2-article {
    top: 420px;
    left: 418px;
    width: 794px;
    height: 291px;
    padding: 10px;
}

table {
    line-height: 20px
}

.cell-value {
    left: 140px;
    position: absolute;
    color: #192F60;
    font: normal normal normal 16px/30px Poppins;
    font-weight: 600;
}

.hotel-details {

    left: 250px;
    top: -30px;
}

.hotel-name {
    color: #192F60;
    font: normal normal 600 30px/46px Poppins;
}

.img-cuisine {
    border-radius: 4px;
}
#location-filter{
border: 1px solid #8C96AB;
}

.left-filter-label {
    font: normal normal 600 18px/27px Poppins;
    color: #192F60;
}

.location-filter {
    font: normal normal normal 14px/21px Poppins;
    color: #8C96AB;
}

.select-location-txt,
.cusine-txt,
.costfortwo-txt,
.sort-txt {
    font: normal normal normal 14px/21px Poppins;
    color: #192F60;

}
address{
    font: normal normal normal 16px/30px Poppins;
    color: #636F88;
}
.article-subheader{
    color: #192F60;
    font: normal normal medium 16px/30px Poppins;
}
input,label,option,checkbox{
    font: normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
}
.checked{
    border: 2px solid #FAFBFC;
}

.pagination{
    position: absolute;
    top:825px;
    left: 40%;
    margin: 0 auto;
    margin-bottom: 100px;
   
}
.pagination>a{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right:10px;
        text-decoration: none;
        border: 1px solid gray ;
        text-align: center;
        padding-top: 8px;
        border-radius: 10px;
        margin-bottom: 200px;
}